@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply scroll-smooth;
  }
}

svg.star-svg {
  display: inline;
}

.title_underline {
  position: relative;
  width: fit-content;
}

.title_underline::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 80%;
  background-color: rgb(37, 99, 235);
}
